<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QL -->
      <package
            uri="http://www.mas-wb.com/com/mas/lwc2013/QL"
            class="com.mas.lwc2013.QL.QLPackage"
            genModel="models/meta/QL.genmodel"/>
   </extension>

</plugin>
