<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QuestionnaireLanguage -->
      <package
            uri="http://www.mas-wb.com/com/mas/activation/custom/lwc2013/QuestionnaireLanguage"
            class="com.mas.activation.custom.lwc2013.QuestionnaireLanguage.QuestionnaireLanguagePackage"/>
   </extension>

</plugin>
